
{% include "header.html" %}

		<!-- Wrapper -->
			<div id="image" class="fade-in">
				<img src="static/images/background1a.png" style="position: absolute; z-index: -1; padding: 35px 70px 50px; width: 100%;">
				<!-- Intro -->
					<div id="intro">
						<h1>Knitty Kitty<br />
						Creations</h1>
						<p>Giving wool the needle</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="index.html" class="logo">Knitty Kitty</a>

					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="index.html">Home</a></li>
							<li><a href="{{ url_for('generic') }}">Ordering</a></li>
							<li><a href="url_for('elements')">About</a></li>
							<li><a href="url_for('elements')">Login</a></li>
							<li><a href="url_for('elements')">Register</a></li>
						</ul>
						<ul class="icons">
							<li><a href="{{ url_for('add_new_item') }}" class="icon fa-user"><span class="label">person</span></a></li>
							<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date">{{ date }}</span>
									<h2><a href="#">And this is a<br />
									massive headline</a></h2>
									<p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br />
									facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br />
									amet nullam sed etiam veroeros.</p>
								</header>
								<a href="#" class="image main"><img src="static/images/pic01.jpg" alt="" /></a>
								<ul class="actions special">
									<li><a href="#" class="button large">Full Story</a></li>
								</ul>
							</article>

						<!-- Posts -->

							{% for post in all_posts %}
							<section class="posts">
								<article>
									<header>
										<span class="date">{{ post.date }}</span>
										<h2><a href="#">{{ post.title }}<br />
										</a></h2>
									</header>
									<a href="#" class="image fit"><img src="" alt="image" /></a>
									<p>body</p>
									<ul class="actions special">
										<li><a href="#" class="button">See Item</a></li>
									</ul>
								</article>
								{% endfor %}
<!--								<article>-->
<!--									<header>-->
<!--										<span class="date">April 22, 2017</span>-->
<!--										<h2><a href="#">Primis eget<br />-->
<!--										imperdiet lorem</a></h2>-->
<!--									</header>-->
<!--									<a href="#" class="image fit"><img src="static/images/pic03.jpg" alt="" /></a>-->
<!--									<p>Donec eget ex magna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque venenatis dolor imperdiet dolor mattis sagittis magna etiam.</p>-->
<!--									<ul class="actions special">-->
<!--										<li><a href="#" class="button">Full Story</a></li>-->
<!--									</ul>-->
<!--								</article>-->

							</section>
<!--						{% if current_user.id == 1: %}-->
<!--          				<a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>-->
<!--          				{% endif %}-->
						<!-- Footer -->
							<footer>
								<div class="pagination">
									<!--<a href="#" class="previous">Prev</a>-->
									<a href="#" class="page active">1</a>
									<a href="#" class="page">2</a>
									<a href="#" class="page">3</a>
									<span class="extra">&hellip;</span>
									<a href="#" class="page">8</a>
									<a href="#" class="page">9</a>
									<a href="#" class="page">10</a>
									<a href="#" class="next">Next</a>
								</div>
							</footer>

					</div>
{% include "footer.html" %}
